In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import scipy.stats as stats
chips_final = pd.read_csv("chips_final.csv")

In [5]:
chips_final

,Unnamed: 0,SHORT_DATE,STORE_NBR,LYLTY_CARD_NBR,TXN_ID,LIFESTAGE,PREMIUM_CUSTOMER,PROD_NBR,BRAND,PROD_NAME,WEIGHT,PROD_QTY,TOT_SALES
0,0,1970-01-01,1.0,1343.0,383.0,MIDAGE SINGLES/COUPLES,Budget,61.0,Smiths,Smiths Crinkle Cut Chips Chicken 170g,170g,2.0,2.9
1,1,1970-01-01,2.0,2373.0,974.0,MIDAGE SINGLES/COUPLES,Budget,69.0,Smiths,Smiths Chip Thinly S/Cream&Onion 175g,175g,5.0,15.0
2,2,1970-01-01,2.0,2426.0,1038.0,MIDAGE SINGLES/COUPLES,Budget,108.0,Kettle,Kettle Tortilla ChpsHny&Jlpno Chili 150g,150g,3.0,13.8
3,3,1970-01-01,4.0,4074.0,2982.0,MIDAGE SINGLES/COUPLES,Budget,57.0,Old,Old El Paso Salsa Dip Tomato Mild 300g,300g,1.0,5.1
4,4,1970-01-01,4.0,4149.0,3333.0,MIDAGE SINGLES/COUPLES,Budget,16.0,Smiths,Smiths Crinkle Chips Salt & Vinegar 330g,330g,1.0,5.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...
264830,264830,1970-01-01,272.0,272358.0,270154.0,YOUNG SINGLES/COUPLES,Premium,74.0,Tostitos,Tostitos Splash Of Lime 175g,175g,1.0,4.4
264831,264831,1970-01-01,272.0,272379.0,270187.0,YOUNG SINGLES/COUPLES,Premium,51.0,Doritos,Doritos Mexicana 170g,170g,2.0,8.8
264832,264832,1970-01-01,272.0,272379.0,270188.0,YOUNG SINGLES/COUPLES,Premium,42.0,Doritos,Doritos Corn Chip Mexican Jalapeno 150g,150g,2.0,7.8
264833,264833,1970-01-01,272.0,272380.0,270189.0,YOUNG SINGLES/COUPLES,Premium,74.0,Tostitos,Tostitos Splash Of Lime 175g,175g,2.0,8.8
264834,264834,2018-12-25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
chips_final["SHORT_DATE"].dtype

dtype('O')

In [11]:
#first let`s create a month and year column
chips_final["SHORT_DATE"] = pd.to_datetime(chips_final["SHORT_DATE"])
chips_final["MONTH_YEAR"] = chips_final["SHORT_DATE"].dt.strftime("%m/%Y")
chips_final["MONTH_YEAR"]

0         01/1970
1         01/1970
2         01/1970
3         01/1970
4         01/1970
           ...
264830    01/1970
264831    01/1970
264832    01/1970
264833    01/1970
264834    12/2018
Name: MONTH_YEAR, Length: 264835, dtype: object

In [13]:
#now we want to find coparable stores. I will isolate the timeframe from july 2018 to jan 31st 2019 to find comparsion stores
import pandas as pd

# Ensure MONTH_YEAR is in a consistent format
chips_final["MONTH_YEAR"] = pd.to_datetime(chips_final["MONTH_YEAR"], format='%m/%Y')

# Isolate the timeframe from July 2018 to January 2019
chips_before = chips_final[(chips_final["MONTH_YEAR"] >= "2018-07-01") & (chips_final["MONTH_YEAR"] <= "2019-01-31")]

# Check the value counts for MONTH_YEAR
value_counts = chips_final["MONTH_YEAR"].value_counts()
print(value_counts)

MONTH_YEAR
1970-01-01    264834
2018-12-01         1
Name: count, dtype: int64

In [14]:
total_sales = sum(chips_final['TOT_SALES'])
print(total_sales)

nan

In [17]:
chips_final.describe()

,Unnamed: 0,SHORT_DATE,STORE_NBR,LYLTY_CARD_NBR,TXN_ID,PROD_NBR,PROD_QTY,TOT_SALES,MONTH_YEAR
count,264835.000000,264835,264834.000000,2.648340e+05,2.648340e+05,264834.000000,264834.000000,264834.000000,264835
mean,132417.000000,1970-01-01 01:37:16.449109823,135.081123,1.355505e+05,1.351593e+05,56.583316,1.907304,7.304208,1970-01-01 01:37:08.619329016
min,0.000000,1970-01-01 00:00:00,1.000000,1.002000e+03,2.000000e+00,1.000000,1.000000,1.500000,1970-01-01 00:00:00
25%,66208.500000,1970-01-01 00:00:00,70.000000,7.002100e+04,6.760325e+04,28.000000,2.000000,5.400000,1970-01-01 00:00:00
50%,132417.000000,1970-01-01 00:00:00,130.000000,1.303580e+05,1.351385e+05,56.000000,2.000000,7.400000,1970-01-01 00:00:00
75%,198625.500000,1970-01-01 00:00:00,203.000000,2.030948e+05,2.027018e+05,85.000000,2.000000,9.200000,1970-01-01 00:00:00
max,264834.000000,2018-12-25 00:00:00,272.000000,2.373711e+06,2.415841e+06,114.000000,200.000000,650.000000,2018-12-01 00:00:00
std,76451.423608,NaN,76.783586,8.057944e+04,7.813244e+04,32.826604,0.643653,3.083236,NaN

In [19]:
chips_final.shape

(264835, 14)

In [23]:
dataset = pd.read_csv(r"C:\Users\dmcnm\Downloads/QVI_data.csv")

In [24]:
dataset.head()

,LYLTY_CARD_NBR,DATE,STORE_NBR,TXN_ID,PROD_NBR,PROD_NAME,PROD_QTY,TOT_SALES,PACK_SIZE,BRAND,LIFESTAGE,PREMIUM_CUSTOMER
0,1000,2018-10-17,1,1,5,Natural Chip Compny SeaSalt175g,2,6.0,175,NATURAL,YOUNG SINGLES/COUPLES,Premium
1,1002,2018-09-16,1,2,58,Red Rock Deli Chikn&Garlic Aioli 150g,1,2.7,150,RRD,YOUNG SINGLES/COUPLES,Mainstream
2,1003,2019-03-07,1,3,52,Grain Waves Sour Cream&Chives 210G,1,3.6,210,GRNWVES,YOUNG FAMILIES,Budget
3,1003,2019-03-08,1,4,106,Natural ChipCo Hony Soy Chckn175g,1,3.0,175,NATURAL,YOUNG FAMILIES,Budget
4,1004,2018-11-02,1,5,96,WW Original Stacked Chips 160g,1,1.9,160,WOOLWORTHS,OLDER SINGLES/COUPLES,Mainstream

In [25]:
total_sales = sum(dataset['TOT_SALES'])
print(total_sales)

1933114.9999996515

In [26]:
dataset.describe()

,LYLTY_CARD_NBR,STORE_NBR,TXN_ID,PROD_NBR,PROD_QTY,TOT_SALES,PACK_SIZE
count,2.648340e+05,264834.000000,2.648340e+05,264834.000000,264834.000000,264834.000000,264834.000000
mean,1.355488e+05,135.079423,1.351576e+05,56.583554,1.905813,7.299346,182.425512
std,8.057990e+04,76.784063,7.813292e+04,32.826444,0.343436,2.527241,64.325148
min,1.000000e+03,1.000000,1.000000e+00,1.000000,1.000000,1.500000,70.000000
25%,7.002100e+04,70.000000,6.760050e+04,28.000000,2.000000,5.400000,150.000000
50%,1.303570e+05,130.000000,1.351365e+05,56.000000,2.000000,7.400000,170.000000
75%,2.030940e+05,203.000000,2.026998e+05,85.000000,2.000000,9.200000,175.000000
max,2.373711e+06,272.000000,2.415841e+06,114.000000,5.000000,29.500000,380.000000

In [27]:
dataset.shape

(264834, 12)

In [ ]:
total_customers = 241584
transactions = 264834
avg_t